#
# ===== ignore all parent dirs by default =====
/*
#* make sure gitignore isn't ignored
!/.gitignore
#* ignore .local items by default
/.local/*
/.local/share/*
#* not all configs need to go here
/.config/*
#* ignore non-config blender directories/items (extensions/)
/.config/blender/*/*
#* ignore unimportant krita directories/items
/.local/share/krita/*

#
#  ===== allow scanning of items under important subdirs =====
!/
!/.config/
!/.local/
!/.local/share/

#
#! ===== Important un-ignores =====
#

#* Blender
!/.config/blender/
!/.config/blender/*/
!/.config/blender/*/config/
!/.config/blender/*/config/*

#* Krita
!/.local/share/krita/
!/.local/share/krita/color-schemes/
!/.local/share/krita/color-schemes/*
!/.local/share/krita/workspaces/
!/.local/share/krita/workspaces/*
