#
# ===== ignore all parent dirs by default =====
/*
#* make sure gitignore isn't ignored
!/.gitignore
#* not all configs need to go here
/.config/*
#* ignore non-config blender directories (extensions/)
/.config/blender/*/*
#* ignore .local items by default
/.local/*
/.local/share/*

#
#  ===== allow scanning of items under important subdirs =====
!/
!/.config/
!/.local/
!/.local/share/

## krita ignores


## Blender ignores
!/.config/blender/
!/.config/blender/*/
!/.config/blender/*/config/
!/.config/blender/*/config/*